@{
    //Session["x"] = null;
    //Session.Clear();

    Session["login"] = null;
    Session["email"] = null;
    Session["type"] = null;
    Session["id"] = null;
}
<!DOCTYPE HTML>
<html>
<head>
    @RenderPage("head.cshtml")
</head>
<body>
    <header></header>
    <main>
        <p><a href="~/index.cshtml">home</a></p>
    </main>
    <footer>
        hebberige bruidsparen &COPY; Wiebe de Boer (boer1547, 462918)
    </footer>
</body>
</html>
